@import "./scss/setup/variables";
@import "./scss/setup/mixins";

.App {
  min-height: 100%;
  padding: 30px 50px;
  position: relative;
  background-color: rgb(236, 235, 235);
  @include for-mobile-layout {
    padding: 20px 35px;
  }
  .btns-container {
    align-self: end;
    position: absolute;
    bottom: 20px;
    @include for-mobile-layout {
      align-self: center;
    }
    .view-btn {
      background-color: rgb(236, 235, 235);
      width: 40px;
      height: 40px;
      border: none;
      outline: none;
      margin: 5px;
      transition: all ease-in-out 0.2s;

      &:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
      }
      img {
        width: 30px;
        height: 25px;
        color: white;
        @include for-mobile-layout {
          width: 26px;
          height: 24px;
        }
      }
    }
  }
}
