@font-face {
  font-family: "interstate-light";
  src: url("../../assets/fonts/Interstate-light.ttf");
}

@font-face {
  font-family: "interstate-bold";
  src: url("../../assets/fonts/Interstate-bold.ttf");
}

@font-face {
  font-family: "interstate-regular";
  src: url("../../assets/fonts/Interstate-regular.ttf");
}

